.dropdownNavbar {
  @media (max-width: 992px) {
    position: absolute;
    margin-left: -12px;
    top: 100%;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.3s;
  }
}
.dropdownNavbar.active {
  max-height: 798px;
}
.dropdownNavbar a {
  color: $gray-500;
  &:hover {
    color: $primary-100;
  }
}
.dropdownMenu, .dropdownMemberCenter {
  top: 80%;
  width: inherit;
  z-index: 12;
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0px;
  @media (max-width: 992px) {
    top: 60%;
    width: 100%;
  }
  a {
    display: block;
    background-color: $gray;
    &:hover {
      background-color: $primary-100;
      color: $white;
    }
  }
}
.dropdownMenu.active {
  max-height: 288px;
  @media (max-width: 992px) {
    max-height: 342px;
  }
}
.dropdownMemberCenter.active {
  max-height: 144px;
  @media (max-width: 992px) {
    max-height: 172px;
  }
}
.selectMenu.focused:focus {
  color: $primary-100;
}
.position_absolute_lg {
  @media (min-width: 992px) {
    position: absolute;
  }
}
// 剩餘區塊背景色
@media (max-width: 992px) {
  .navbar_overlay {
    height: 100vh;
    background-color: rgba(52, 52, 52);
    position: absolute;
    opacity: 0;
  }
  .navbar_overlay_show {
    width: 100%;
    opacity: 0.3;
    z-index: 2;
  }
  .arrow_drop_down {
    transform: rotate(180deg);
    transition: 0.3s;
  }
}
