// 字型
.font-NotoSans {
  font-family: 'Noto Sans TC', 'san-serif';
}
.font-NotoSerif {
  font-family: 'Noto Serif TC', 'san-serif';
}
.font-Caveat {
  font-family: 'Caveat', 'san-serif';
}
.font-OpenSans {
  font-family: 'Open Sans', 'san-serif';
}
// .nav.sticky {
//   position: fixed;
//   background-color: rgba(255, 255, 255, 0.95);
//   z-index: 99999;
// }
.section {
  // padding: 15rem 3rem;
  // border-top: 1px solid #ddd;

  transition:
    transform 1s,
    opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8vh);
}
// banner start
.banner {
  background: url('/index-banner-bgImg.png') center;
  min-height: 800px;
  background-size: cover;

  @media (max-width: 767px) {
    background: url('/index-banner-bgImg-mobile.png') center;
    min-height: 446px;
    background-size: cover;
  }
  .logoText {
    max-width: 100%;
    height: 114px;
    @media (min-width: 993px) {
      padding-left: 120px;
    }
    object-fit: cover;
  }
  &-text {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .btnGroup {
    align-self: flex-end;
    margin-bottom: 128px;
    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
    @media (max-width: 376px) {
      margin-bottom: 42px;
    }
  }
}
// 立即訂位按鈕
.btn_reserve {
  display: block;
  color: $light;
  font-family: 'Noto Serif TC', 'san-serif';
  background-color: $primary-200;
  border: 1px solid $light;
  max-width: 274px;
  text-align: center;
  &:hover {
    color: $light;
    background-color: $primary-100;
    border-color: $primary-100;
  }
}

@media (min-width: 993px) {
  .btn_reserve_center {
    margin-left: 50%;
  }
}
.desktop_arrow {
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
}
.img_comma {
  left: 33px;
  transform: translateY(-50%);
}
// banner end

// menu section start
@keyframes nex-animation {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


// menu section end

// 顧客評論 start

.bg {
  background-color: #f4e9e2;
}
.text {
  h3 {
    color: #461b09;
  }
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
}
.cord-img {
  width: 100%;
  object-fit: cover;
}
.card {
  ul {
    margin-top: 10px;
    padding-inline-start: none;
    margin-bottom: 0;
    li {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}

.card-body {
  display: block;
  padding: 0px 1rem 1rem 1rem;
}
.star-box {
  margin-bottom: 10px;
}

.star {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: #f1a42e;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.col-md-2 {
  ul {
    padding-left: 0rem;
  }
}

.booking {
  button {
    background-color: #693b28;
    color: #fbfbfb;
    &:hover {
      background-color: #b58a78;
      color: #fbfbfb;
    }
  }
}

// 提供服務-start
.offer-desktop {
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .offer-desktop {
    display: none;
  }
}
.offer-mobile {
  display: none;
}
@media (max-width: 992px) {
  .offer-mobile {
    justify-content: center;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    flex-direction: column;
    display: flex;
  }
}
//提供服務-end
//news section start
.news-height{
  height: 903px;
  @media (max-width:576px) {
    height: 600px;
  }
 
}
.newsPic {
  display: flex;
  width: 636px;
  height: 703px;
  z-index: 0;
  left: 5%; /* 讓圖片左邊緣置於父容器的中央 */
  // right: 0;
  @media(max-width:1200px) {
    width: 75%;
    height: auto;
    left:12px;
    top:36px;
    left:12px;
    .star-2 {
      top:40%
    }
  }
  @media(max-width:768px) {
    width: 80%;
    top:36px;
    left:12px;
    .star-2 {
      top:40%
    }
  }
}

.news-list-desktop {
  width: 700px;
  // height: 413px;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 5%;
  flex-direction: column;
  .news_list {
    background: #fffdfd;
    color: #e28763;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    z-index: 2;
  }

  .text-news {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .paragraph {
    flex-direction: column;
    text-align: left; /* 靠左對齊 */
  }
  .link {
    // display: flex;
    width: 700px;
    // height: 48px;
    background-color: transparent;
  }
  .box {
    width: 700px;
  }
}
@media (max-width: 1200px) {
  .news-list-desktop {
    display: none;
  }
}
.news-list-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .news-list-mobile {
    display: block;
    // width: 700px;
    // height: 413px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 70px;
    right: 5%;
    width: 50%;
    // margin-top: 20vmin;
    flex-direction: column;
    .news_list {
      background: #fffdfd;
      color: #e28763;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      z-index: 2;
      // padding: 36px 24px;
      right: 5%;
      top: 50%;
    }

    .text-news {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 60px;
      margin-top: 60px;
      transition: all 0.3s;
    }
    .paragraph {
      flex-direction: column;
      text-align: left; /* 靠左對齊 */
    }
    .link {
      // display: flex;
      // width: 700px;
      height: 48px;
      background-color: transparent;
    }
    .box {
      width: 257px;
    }
  }
}
@media (max-width: 768px) {
  .news-list-mobile {
    right:0%;
    width: 70%;
  }
  
}
@media (max-width: 576px) {
.news-list-mobile {
  .text-news {
    margin-bottom: 24px;
    margin-top: 48px;
  }
}
.star2{
  width: 31px;
  height: 25px;
}
}
//news section end
#toTOP {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
