// 字型
.font-NotoSans {
  font-family: 'Noto Sans TC';
}
.font-NotoSerif {
  font-family: 'Noto Serif TC';
}
.font-Caveat {
  font-family: 'Caveat';
}
.font-OpenSans {
  font-family: 'Open Sans';
}
//swiper (測試用)
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-theme-color: #e28763;
}
.swiper-pagination {
  position: static;
  margin: 0 auto;
}
.swiper-pagination-bullet {
  width: 36px;
  height: 8px;
  border-radius: 100px;
}
.swiper-pagination-bullet-active-main {
  width: 56px;
  border-radius: 100px;
}
// .nav.sticky {
//   position: fixed;
//   background-color: rgba(255, 255, 255, 0.95);
//   z-index: 99999;
// }
.section {
  // padding: 15rem 3rem;
  // border-top: 1px solid #ddd;

  transition:
    transform 1s,
    opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8vh);
}
// banner start
.banner {
  background: url('/index-banner-bgImg.png') center;
  min-height: 800px;
  background-size: cover;

  @media (max-width: 767px) {
    background: url('/images/index-banner-bgImg-mobile.png') center;
    min-height: 446px;
    background-size: cover;
  }
  .logoText {
    max-width: 100%;
    height: 114px;
    @media (min-width: 993px) {
      padding-left: 120px;
    }
    object-fit: cover;
  }
  &-text {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .btnGroup {
    align-self: flex-end;
    margin-bottom: 128px;
    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
    @media (max-width: 376px) {
      margin-bottom: 42px;
    }
  }
}
// 立即訂位按鈕
.btn_reserve {
  display: block;
  color: $light;
  font-family: 'Noto Serif TC';
  background-color: $primary-200;
  border: 1px solid $light;
  max-width: 274px;
  text-align: center;
  &:hover {
    color: $light;
    background-color: $primary-100;
    border-color: $primary-100;
  }
}

@media (min-width: 993px) {
  .btn_reserve_center {
    margin-left: 50%;
  }
}
.desktop_arrow {
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
}
.img_comma {
  left: 33px;
  transform: translateY(-50%);
}
// banner end

// menu section start
@keyframes nex-animation {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.menu-title-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $light;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  padding: 24px 48px;
  line-height: 120%;
  overflow: hidden;
  z-index: 4000;
  &:hover {
    background: rgba(3, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
  @include pad() {
    padding: 12px 24px;
  }
}
.menu-title-bg-brunch {
  top: 75%;
  left: 25%;
  @include pad() {
    top: 25%;
    left: auto;
    right: 5%;
  }
}
.menu-title-bg-news {
  top: 25%;
  right: 5%;
  // @include pad() {
  //   top: 75%;
  //   right: auto;
  //   left: 25%;
  // }
}
.menu-border {
  border: 2px solid $light;
  position: absolute;
  width: 97%;
  height: 90%;
  z-index: 4000;
  top: 2.5%;
  bottom: 2.5%;
  left: 2%;
  right: 2%;
}

// menu section end

// 顧客評論 start

.bg {
  background-color: #f4e9e2;
}
.text {
  h3 {
    color: #461b09;
  }
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
}
.cord-img {
  width: 100%;
  object-fit: cover;
}
.card {
  ul {
    margin-top: 10px;
    padding-inline-start: none;
    margin-bottom: 0;
    li {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}

.card-body {
  display: block;
  padding: 0px 1rem 1rem 1rem;
}
.star-box {
  margin-bottom: 10px;
}

.star {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: #f1a42e;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.col-md-2 {
  ul {
    padding-left: 0rem;
  }
}

.booking {
  button {
    background-color: #693b28;
    color: #fbfbfb;
    &:hover {
      background-color: #b58a78;
      color: #fbfbfb;
    }
  }
}

// 提供服務-start
.offer-desktop {
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .offer-desktop {
    display: none;
  }
}
.offer-mobile {
  display: none;
  justify-content: center;
}
@media (max-width: 767px) {
  .offer-mobile {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    flex-direction: column;
    display: flex;
  }
}
//提供服務-end
//news section start
.newsPic {
  display: flex;
  max-width: 636px;
  height: 703px;
  position: absolute;
  z-index: 0;
  left: 25%; /* 讓圖片左邊緣置於父容器的中央 */
  right: 0;
}

.news-list-desktop {
  width: 700px;
  height: 413px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 48%;
  flex-direction: column;
  .news_list {
    background: #fffdfd;
    color: #e28763;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    z-index: 2;
  }

  .text-news {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .paragraph {
    flex-direction: column;
    text-align: left; /* 靠左對齊 */
  }
  .link {
    // display: flex;
    width: 700px;
    height: 48px;

    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .news-list-desktop {
    display: none;
  }
}
.news-list-mobile {
  display: none;
}
@media (max-width: 767px) {
  .news-list-mobile {
    width: 700px;
    height: 413px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin-top: 20vmin;
    flex-direction: column;
    .news_list {
      background: #fffdfd;
      color: #e28763;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      z-index: 2;
    }

    .text-news {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 60px;
      margin-top: 60px;
      transition: all 0.3s;
    }
    .paragraph {
      flex-direction: column;
      text-align: left; /* 靠左對齊 */
    }
    .link {
      // display: flex;
      width: 700px;
      height: 48px;

      background-color: transparent;
    }
  }
}
//news section end
#toTOP {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
