 #app {
    height: 100%;
  }
  .indexSwiper{
    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .swiper-pagination {
        position: static;
        margin: 0 auto;
      }
      .swiper-pagination.swiper-pagination-bullet {
        width: 36px;
        height: 8px;
        border-radius: 100px;
      }
      .swiper-pagination.swiper-pagination-bullet-active {
        width: 56px;
        border-radius: 100px;
        background-color: #e28763;
      }
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        width: 56px;
        border-radius: 100px;
        background-color: #e28763;
      }
      .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
          content: '';
      }
  }

  .mealDetailSwiper {
    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom:30px ;
      }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        .card-menu {
          height: 500px;
        }
        .card-img {
          height: 75%;
        }
      }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        width: 30px;
        border-radius: 100px;
        background-color: #461B09;
      }
  }
 body,html {
    position: relative;
    height: 100%;
  }
  
   body {
    margin: 0;
    padding: 0;
  }
 
 
  